@import url(spinner-loader.css); /*spinner styles*/

/*modal*/
.modal-dialog{
    margin-top: 100px !important;
}

.nav-tabs > li.active > a:hover {
    cursor: pointer !important;
}

.nav-rigth-elements {
    padding: 10px 10px;
    border: 1px solid transparent;
    display: block;
}

.nav-rigth-elements.glyphicon {
    font-size: 25px;
}

.btn-align-right {
    text-align: right;
}